* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    background: url(img/general/background.jpg) repeat;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}

.top {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}



/* ШАПКА */

.header {
    background-color: rgba(2, 114, 160, 0.75);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 400px;
    flex-direction: row;
}

.menu__logo {
    display: flex;
    gap: 10px;
}

.menu__logo:hover {
    transform: scale(1.1);
}

.logo__crown {
    height: 40px;
    padding-top: 20px;
}

.logo__karp {
    height: 20px;
    padding-top: 39px;
}

.menu {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__item {
    color: #fedaf6;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}

.menu__item:hover {
    transform: scale(1.1);
}



.menu__current__item {
    color: #ffebfb;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
    transform: scale(0.92);
}

.menu__img {
    height: 14px;
    margin-right: 2px;
}



/* ОСНОВНОЙ КОНТЕНТ */

.top__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 160px;
}

.top__content__info {
    max-width: 660px;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(2, 114, 160, 0.20);
    display: grid;
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.15);
    align-content: space-between;
}

.top__content__info__text {
    
}

.header1 {
    color: #0d9eca;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.paragraph {
    color: #0e384b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}

.main__song {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main__song p {
    color: #0e384b;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__song audio {
    opacity: .6;
    max-width: 100%;
    min-width: 70%;
}

.main__song audio:hover {
    opacity: 1;
}

.main__song audio::-webkit-media-controls-panel {
  background: url(img/general/background.jpg);
  opacity: 1;
}




.top__content__photobox {
    min-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__photo {
    max-width: 100%;
    height: auto;
}

.main__photo:hover {
    transform: scale(1.5);
}



.top__content__info__icons {
    display: flex;
    background-color: rgba(2, 114, 160, 0.35);
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
    padding-left: 10px;
}

.pcii__item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.top__content__info__icons p{
    color: #0b2a38;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.top__content__info__icons img {
    height: 30px;
    text-align: end;
}



.middle__content {
    background-color: rgba(2, 114, 160, 0.15);
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    min-width: 400px;
    max-height: 100%;
}

.middle__content__item {
    width: 300px;
    margin-top: 45px;
    margin-bottom: 45px;
    min-height: 380px;
    background-color: rgba(2, 114, 160, 0.30);
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.25);
    
}

.middle__content__icon {
    height: 60px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 35px;
}

.middle__content__text {
    display: grid;
    justify-items: start;
    padding-left: 25px;
    padding-right: 25px;
}

.middle__header {
    color: #0e384b;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle__paragraph {
    color: #0e384b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: justify;
}

.middle__link {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: #0fa3d1;
    box-shadow: 4px 4px 8px 0px rgba(2, 114, 160, 0.30);
    text-align: center;
    padding-top: 20px;
}




.about__content {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
    margin-bottom: 100px;
    
}

.about__content__info {
    max-width: 660px;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(2, 114, 160, 0.20);
    display: grid;
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.15);
    align-content: space-between;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(185px, 1fr));
    grid-gap: 30px;

}

.about__images img {
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.1);
}


.about__images img:hover {
    transform: scale(1.25);
}

.about__img1 {
    max-width: 185px;
    min-width: 150px;
    height: auto;
}

.about__img2 {
    max-width: 185px;
    min-width: 150px;
    height: auto;
    grid-row: 1 / 3;
    grid-column: 2;

}

.about__img3 {
    max-width: 185px;
    min-width: 150px;
    height: auto;
    grid-row: 2 / 4;
}

.about__img4 {
    max-width: 185px;
    min-width: 150px;
    height: auto;
    grid-row: 3;
    grid-column: 2;
}




.nails__content{
    flex: 1;
}

.nails__camera__header{
    min-width: 400px;
}

.nails__camera__header h1{
    padding-top: 40px;
    color: #0fa3d1;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    padding-left: 50px;
}

.nails__gallery {
    padding-top: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 75px;
    justify-items: center;
    min-width: 400px;

}

.nails__item {
    border: 0px solid rgba(2, 114, 160, 0.35);
    max-width: 194px;
    min-width: 140px;
    height: auto;
    background-color: rgba(2, 114, 160, 0.45);
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.15);
}

.nails__photo {
    max-width: 194px;
    min-width: 140px;
    height: auto;
}

.nails__photo:hover {
    transform: scale(1.3);
}

.nails__paragraph {
    color: #0b607a;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 3px;
    padding-bottom: 10px;
}




.camera__content {
    flex: 1;
}

.camera__content h1{
    padding-top: 40px;
    color: #0fa3d1;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    padding-left: 50px;
}

.camera__gallery {
    padding-top: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-row-gap: 30px;
    justify-items: center;
    min-width: 400px;
}

.camera__gallery img {
    width: 300px;
    border: 7px solid rgba(2, 114, 160, 0.35);
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.15);
}

.camera__gallery img:hover {
    transform: scale(1.2);
}


.contact__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact__info {
    max-width: 440px;
    min-width: auto;
    height: 330px;
    margin-top: 30px;
    background-color: rgba(2, 114, 160, 0.20);
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__info h1 {
    color: #0fa3d1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact__info p {
    color: #0b607a;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: justify;
    padding-left: 15px;
}

.contact__info__item {
    padding: 15px;
}

.contact__social__icons {
    padding-left: 15px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
}

.contact__social__icons img {
    height: 25px;
}




/* ФУТЕР */

.footer {
    min-height: 40px; /* высота футера */
    min-width: 400px;
    background-color: rgba(2, 114, 160, 0.45);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    flex-shrink: 0;
}

.foot__header {
    color: #084153;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 15px;
    padding-right: 30px;
}

.foot__logos {
    padding-top: 15px;
    height: 20px;
    display: flex;
    gap: 30px;
    
}

