* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    background: url(img/general/background.jpg) repeat;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}



/* ШАПКА */

.header {
    background-color: rgba(2, 114, 160, 0.75);
    display: flex;
    justify-content: space-between;
}

.menu__logo {
    display: flex;
    gap: 10px;
}

.logo__crown {
    height: 40px;
    padding-top: 20px;
}

.logo__karp {
    height: 20px;
    padding-top: 39px;
}

.menu {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 35px;
}

.menu__item {
    color: #fedaf6;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}



.menu__current__item {
    color: #ffebfb;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}

.menu__img {
    height: 14px;
    margin-right: 2px;
}



/* ОСНОВНОЙ КОНТЕНТ */

.top__content {
    padding-top: 100px;
    display: flex;
    justify-content: start;
    gap: 100px;
    margin-bottom: 165px;
}

.top__content__info {
    width: 600px;
}

.header1 {
    color: #0fa3d1;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
}

.paragraph {
    color: #08202b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    text-align: justify;
}

.main__photo {
    max-width: 100%;
    height: auto;
}


.middle__content {
    background-color: rgba(2, 114, 160, 0.15);
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 55px;
    justify-content: center;
}

.middle__content__item {
    margin-top: 45px;
    margin-bottom: 45px;
    height: 380px;
    background-color: rgba(2, 114, 160, 0.30);
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.25);
    
}


.middle__content__icon {
    height: 60px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 35px;
}

.middle__content__text {
    display: grid;
    justify-items: start;
    padding-left: 25px;
    padding-right: 25px;
}

.middle__header {
    color: #08202b;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle__paragraph {
    color: #08202b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: justify;
}

.middle__link {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: #0fa3d1;
    box-shadow: 4px 4px 8px 0px rgba(2, 114, 160, 0.30);
    text-align: center;
    padding-top: 20px;
}





.about__images {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 225px 225px 225px;
    align-items: stretch;
    grid-gap: 30px
}

.about__img1 {
    max-width: 225px;
}

.about__img2 {
    max-width: 225px;
    grid-row: 1 / 3;
    grid-column: 2;

}

.about__img3 {
    max-width: 225px;
    grid-row: 2 / 4;
}

.about__img4 {
    max-width: 225px;
    grid-row: 3;
    grid-column: 2;
}

.nails__camera__header {
    padding-top: 40px;
    color: #0fa3d1;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.nails__gallery {
    padding-top: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5, 194px);
    grid-row-gap: 75px;
    grid-column-gap: 33px;
    justify-content: end;

}

.nails__item {
    border: 0px solid rgba(2, 114, 160, 0.35);
    height: 230px;
    background-color: rgba(2, 114, 160, 0.45);
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}


.nails__paragraph {
    color: #0b607a;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 3px;
}





/* ФУТЕР */

.footer {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1172px;
    height: 40px; /* высота футера */
    background-color: rgba(2, 114, 160, 0.55);
}

.foot__header {
    color: #084153;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 15px;

}

.foot__logos {
    padding-top: 10px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.footer__main {
    bottom: 0;
    height: 40px; /* высота футера */
    background-color: rgba(2, 114, 160, 0.45);
}