* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    background: url(img/background.jpg) repeat;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}



/* ШАПКА */

.header {
    background-color: rgba(2, 114, 160, 0.75);
    display: flex;
    justify-content: space-between;
}

.logo__crown {
    height: 45px;
    padding-top: 20px;
}

.menu {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 35px;
}

.menu__item {
    color: #fedaf6;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}



.menu__current__item {
    color: #ffebfb;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}

.menu__img {
    height: 14px;
    margin-right: 2px;
}



/* ОСНОВНОЙ КОНТЕНТ */

.top__content {
    padding-top: 64px;
    display: flex;
    justify-self: start;
    
}

.top__content__info {
    width: 692px;
}

.header1 {
    color: #0fa3d1;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
}

.paragraph {
    color: #08202b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.main__photo {
    max-width: 100%;
    height: auto;
}


/* ФУТЕР */



.footer {
    height: 100%;
    margin-top: 200px;
}

.foot__header {
    color: #08202b;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 30px;
    padding-top: 30px;
}

.foot__logos {
    padding-bottom: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
