* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    background: url(img/general/background.jpg) repeat;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}



/* ШАПКА */

.header {
    background-color: rgba(2, 114, 160, 0.75);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 400px;
    flex-direction: row;
}

.menu__logo {
    display: flex;
    gap: 10px;
}

.logo__crown {
    height: 40px;
    padding-top: 20px;
}

.logo__karp {
    height: 20px;
    padding-top: 39px;
}

.menu {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__item {
    color: #fedaf6;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}



.menu__current__item {
    color: #ffebfb;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}

.menu__img {
    height: 14px;
    margin-right: 2px;
}



/* ОСНОВНОЙ КОНТЕНТ */

.top__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 160px;
}

.top__content__info {
    max-width: 660px;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(2, 114, 160, 0.20);
    display: grid;
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.15);
    align-content: space-between;
    
}

.header1 {
    color: #0d9eca;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.paragraph {
    color: #0e384b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
}

.top__content__photobox {
    min-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__photo {
    max-width: 100%;
    height: auto;
}


.top__content__info__icons {
    display: flex;
    background-color: rgba(2, 114, 160, 0.35);
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
    padding-left: 10px;
}

.pcii__item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.top__content__info__icons p{
    color: #0b2a38;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.top__content__info__icons img {
    height: 30px;
    text-align: end;
}



.middle__content {
    background-color: rgba(2, 114, 160, 0.15);
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    min-width: 400px;
}

.middle__content__item {
    width: 300px;
    margin-top: 45px;
    margin-bottom: 45px;
    min-height: 380px;
    background-color: rgba(2, 114, 160, 0.30);
    box-shadow: 15px 25px 60px -5px rgba(2, 114, 160, 0.25);
    
}

.middle__content__icon {
    height: 60px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 35px;
}

.middle__content__text {
    display: grid;
    justify-items: start;
    padding-left: 25px;
    padding-right: 25px;
}

.middle__header {
    color: #0e384b;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle__paragraph {
    color: #0e384b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: justify;
}

.middle__link {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: #0fa3d1;
    box-shadow: 4px 4px 8px 0px rgba(2, 114, 160, 0.30);
    text-align: center;
    padding-top: 20px;
}





.about__images {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 225px 225px 225px;
    align-items: stretch;
    grid-gap: 30px
}

.about__img1 {
    max-width: 225px;
}

.about__img2 {
    max-width: 225px;
    grid-row: 1 / 3;
    grid-column: 2;

}

.about__img3 {
    max-width: 225px;
    grid-row: 2 / 4;
}

.about__img4 {
    max-width: 225px;
    grid-row: 3;
    grid-column: 2;
}



.nails__camera__header {
    padding-top: 40px;
    color: #0fa3d1;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.nails__gallery {
    padding-top: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5, 194px);
    grid-row-gap: 75px;
    grid-column-gap: 33px;
    justify-content: end;

}

.nails__item {
    border: 0px solid rgba(2, 114, 160, 0.35);
    height: 230px;
    background-color: rgba(2, 114, 160, 0.45);
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.15);
}


.nails__paragraph {
    color: #0b607a;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 3px;
}





/* ФУТЕР */

.footer {
    bottom: 10;
    min-height: 40px; /* высота футера */
    min-width: 400px;
    background-color: rgba(2, 114, 160, 0.45);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
}

.foot__header {
    color: #084153;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 15px;
    padding-right: 30px;
}

.foot__logos {
    padding-top: 15px;
    height: 20px;
    display: flex;
    gap: 30px;
    
}

