* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    background: url(img/general/background.jpg) repeat;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}



/* ШАПКА */

.header {
    background-color: rgba(2, 114, 160, 0.75);
    display: flex;
    justify-content: space-between;
}

.menu__logo {
    display: flex;
    gap: 10px;
}

.logo__crown {
    height: 40px;
    padding-top: 20px;
}

.logo__karp {
    height: 20px;
    padding-top: 39px;
}

.menu {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 35px;
}

.menu__item {
    color: #fedaf6;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}



.menu__current__item {
    color: #ffebfb;
    font-size: 17px;
    font-weight: 200;
    line-height: normal;
}

.menu__img {
    height: 14px;
    margin-right: 2px;
}



/* ОСНОВНОЙ КОНТЕНТ */

.top__content {
    padding-top: 64px;
    display: flex;
    justify-self: start;
    gap: 50px;
    margin-bottom: 130px;
}

.top__content__info {
    width: 600px;
}

.header1 {
    color: #0fa3d1;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
}

.paragraph {
    color: #08202b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    text-align: justify;
}

.main__photo {
    max-width: 100%;
    height: auto;
}


.about__images {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 225px 225px 225px;
    align-items: stretch;
    grid-gap: 30px
}

.about__img1 {
    max-width: 225px;
}

.about__img2 {
    max-width: 225px;
    grid-row: 1 / 3;
    grid-column: 2;

}

.about__img3 {
    max-width: 225px;
    grid-row: 2 / 4;
}

.about__img4 {
    max-width: 225px;
    grid-row: 3;
    grid-column: 2;
}






/* ФУТЕР */

.footer {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1172px;
    height: 40px; /* высота футера */
    background-color: rgba(2, 114, 160, 0.55);
}

.foot__header {
    color: #084153;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 15px;

}

.foot__logos {
    padding-top: 10px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}
